@media (min-width: 1310px) {
  /* Containers */

  .container {
    max-width: 1440px;
    padding: 0 165px;
  }

  /* Header */

  .header .container {
    height: 80px;
  }

  .nav-list-wrapper {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .nav-link {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.11px;
    color: #9597a5;
  }

  .nav-link.active {
    padding-bottom: 28px;
    border-bottom: 4px solid #33d35e;
    color: #2d314d;
  }

  .nav-button {
    display: none;
  }

  .header .invite-btn {
    display: block;
  }

  /* Intro */

  .intro .container {
    position: relative;
    padding-top: 250px;
    background-color: #fafafa;

    background-image: url("../images/from-figma/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  .intro-text {
    width: 447px;
    text-align: left;
  }

  .intro-text h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 24px;
  }

  .intro-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28px;
    margin-bottom: 36px;
  }

  .intro .invite-btn {
    margin-bottom: 170px;
  }

  .intro-mokcups {
    width: 647px;
    height: 908px;

    position: absolute;
    top: 0;
    right: 0;

    background-image: url("../images/from-figma/img-mockups-desktop.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  /* Services */

  .services .container {
    padding-top: 96px;
    padding-bottom: 94px;
  }

  .services-text {
    width: 635px;
    text-align: left;
  }

  .services-text h2 {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    padding-bottom: 16px;
  }

  .services-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28px;
    padding-bottom: 72px;
  }

  .service-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .service-card {
    text-align: left;
  }

  .service-card img {
    margin: 0 0 40px;
  }

  .service-card h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.43px;
    color: #2d314d;
    padding-bottom: 26px;
  }

  .service-card p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597a5;
  }

  /* Articles */

  .articles .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .articles-title {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    margin-bottom: 40px;
    text-align: left;
  }

  .articles-wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .article-content {
    padding: 0 24px 24px;
  }

  /* Footer */

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .left-content {
    flex-direction: row;
  }

  .logo-and-social {
    height: 95px;
    margin: 0;
    align-items: flex-start;
    margin-right: 131px;
  }

  .social-links {
    gap: 13.33px;
  }

  .social-link svg {
    width: 20px;
    height: 20px;
  }

  .footer-links-1,
  .footer-links-2 {
    align-items: flex-start;
  }

  .footer-links-1 {
    width: 160px;
    margin-right: 30px;
  }

  .right-content {
    align-items: flex-end;
  }
}
